export("bg.correct.BufferedMatrix",
       "normalize.BufferedMatrix.quantiles",	
       "BufferedMatrix.read.celfiles",
       "BufferedMatrix.read.probematrix",
       "BufferedMatrix.justRMA",
       "BufferedMatrix.bg.correct.normalize.quantiles")
useDynLib("BufferedMatrixMethods")
exportMethods("median.polish.summarize")
